resources/schema/Service3.0.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:element name="mxdiModule" type="mxdiModuleType"/>

    <xs:complexType name="serviceType" mixed="true">
        <xs:sequence>
            <xs:element type="constructorType" name="constructor" minOccurs="0"/>
            <xs:element type="methodsType" name="methods" minOccurs="0"/>
            <xs:element type="propertiesType" name="properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="fqcn" use="optional"/>
    </xs:complexType>

    <xs:complexType name="paramType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="injectType" mixed="true">
        <xs:sequence>
            <xs:element type="paramType" name="param" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="optional" />
    </xs:complexType>

    <xs:complexType name="constructorType">
        <xs:sequence>
            <xs:element type="injectType" name="inject" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="methodType">
        <xs:sequence>
            <xs:element type="injectType" name="inject" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="methodsType">
        <xs:sequence>
            <xs:element type="methodType" name="method" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:sequence>
            <xs:element type="injectType" name="inject" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="propertiesType">
        <xs:sequence>
            <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mxdiModuleType">
        <xs:sequence>
            <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
